/* geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
    color: #191970;
    border: none;

}

input, label{
    display: block;
    width: 100%;
}

input, label:focus{
    outline: none;
}

a{
    color: #191970;
}

body{
    padding-top: 5vh; /* view height  -> 5% da tela */
    background-image: url('../img/fundoof.png');
    background-size: cover;
    background-position-x: 30px ;
    
    
}

/* form */ 
#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffff;
    border-radius: 10px;
    padding: 25px;

}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem; /*adptada ao elemento root */
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
}

.half-box{
    flex: 1 1 45%;
    position: relative;
}

.spacing{
    margin-right: 2.5%;
}

label{
    font-weight: bold;
    font-size: .8rem;
}

input{
    border-bottom: 2px solid #191970;
    padding: 10px;
    font-size:  .9rem;
    margin-bottom: 40px;
}

input{
    border-color: #191970;
}

input[type="submit"] {
    background-color: #191970;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}

/* validações */
.error-validation{
    color: #B22222;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template{
    display: none;
}